@font-face {
  font-family: dice;
  src: url(../../../fonts/gamingdice-font/Gamingdice-Brz3.ttf);
}

.roll-text {
  font-family: dice;
  font-size: 32px;
  font-weight: bold;
  margin-block-start: 0.2em;
  margin-block-end: 0;
}

.scroller {
  white-space: pre-wrap;
  margin: 0;
  overflow-y: auto;
  padding: 0.5em;
  flex: 1;
}

.roll-line {
  flex-direction: row;
}

.roll-text-line {
  display: inline;
}

.sticky {
  height: 19vh;
  background-color: whitesmoke;
  padding: 0.5em;
  display: flex;
  flex-flow: column;
}

.titled-log-roll {
  padding-left: 3em;
}
