.edit-area {
  width: 100%;
}

.monster-area {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.monster {
  border: 1px solid;
  margin: 2px;
  width: 20em;
  background-color: #dcb8cb;
}

.icon {
  width: 1em;
  height: 1em;
}

.search {
  flex: 1;
  min-width: 20em;
}

.save {
  flex: 1;
}

select {
  height: 3.5em;
}

.scroller {
  width: 100%;
  white-space: pre-wrap;
  background-color: white;
  top: 0.4em;
}

.sticky {
  bottom: 0em;
  background-color: white;

  position: sticky;
  position: -webkit-sticky;
}
