.edit-area {
  width: 100%;
}

.monster-area {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
}

.monster {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 20em;
}

.icon {
  width: 1em;
  height: 1em;
}

.search {
  flex: 1;
  min-width: 20em;
}

.save {
  flex: 1;
}

select {
  height: 3.5em;
}

.scroller {
  width: 100%;
  white-space: pre-wrap;
  background-color: white;
  top: 0.4em;
}

.sticky {
  bottom: 0em;
  background-color: white;
  padding: 0.5em;
  position: sticky;
  position: -webkit-sticky;
}
